
  <div class="d-flex flex-column p-3">
  <div class="w-100">
    <h3 class="d-inline-block float-left">
      Edit ToDo Detail
    </h3>
    <button class="btn btn-primary float-right" (click)="signOut()">
      Logout
    </button>
  </div>

  <hr class="w-100">

  <div class="card col-5 m-auto" style="display: flex; flex-direction: center; align-items: center; background-color: antiquewhite">

    <div class="card-body">

      <h1 class="text-center my-4" style="font-weight: 300">
        Edit ToDo Detail
      </h1>

      <form [formGroup]="editTodoForm">

        <div class="form-group">
          <label for="formGroupExampleInput">Age</label>
          <input type="number" formControlName="age" class="form-control" id="formGroupExampleInput" placeholder="age">
        </div>
        <div *ngIf="editTodoForm.get('age').touched && editTodoForm.get('age').invalid" class="alert alert-warning"
          role="alert">
          <strong>Warning!</strong> {{ getDynamicErrors('age') }}
        </div>


        <div class="form-group">
          <label for="formGroupExampleInput2">Pincode</label>
          <input type="number" formControlName="pincode" class="form-control" id="formGroupExampleInput2" placeholder="Pincode">
        </div>
        <div *ngIf="editTodoForm.get('pincode').touched && editTodoForm.get('pincode').invalid" class="alert alert-warning"
          role="alert">
          <strong>Warning!</strong> {{ getDynamicErrors('password') }}
        </div>

      </form>

    </div>

    <div class="text-center mt-4">
      <button class="btn btn-dark" [disabled]="editTodoForm.pristine || editTodoForm.invalid" (click)="updateTodoDetail()">
        Update Values
      </button>
    </div>

  </div>

</div>